body {
    color: white;
    font-family: "inter", sans-serif;
}
#calendarEntries{
    width: 100%;
}
#calendarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 20px);
    max-width: 400px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.dayNumberSelected {
    border: 3px solid rgba(175, 175, 175, 0.0);
    border-radius: 50%;
    width: 11.25vw;
    height: 11.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dayNumberSelected.selected {
    border: 1svw solid rgba(175, 175, 175, 0.7)
}

.dayNumberContainer {
    background: conic-gradient(#181818 0%, #181818 100%);
  border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.75svw;
    height: 9.75svw;
}
.monthTitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.dayOfWeek {
    text-align: center;
    width: calc(11.25vw + 6px);
    font-size: 16px;
    font-weight: 300;
}

.backButton {
    width: 14px;
    height: 14px;
    background: transparent;
    background-position: center;
    background-repeat: no-repeat;
}
.nextButton {
    width: 14px;
    height: 14px;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
}

.dayNumber{
    width: 7.5svw;
    height: 7.5svw;
    background: #181818;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day {
    flex: 1 0 13%;
    width: 10svw;
    height: 10svw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#calendarMonthContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    width: max-content;
    font-size: 18px;
}

#homeButtonContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    font-size: 18px;
    margin-bottom: 20px;
}

#topContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;

    color: white;
    font-family: "inter", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

#dateTitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 15px;
}

#calenderPage{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#daysOfWeekContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    width: max-content;
}

.eventContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 65px;
    padding: 15px 30px 5px 30px;
    background: #f88d2b;
    border-radius: 8px;
    position: relative;
    margin-bottom: 10px;
}

.eventHeaderTitle {
    font-family: "inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin: 0;
}

.eventDescription {
    font-family: "inter", sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: white;
}
