#usernameInput {
    color: #ffffff;
    border: none;
    font-size: 16px;
    box-shadow: none;
    width: auto;
    padding: 5px;
    margin-top: 2px;
}

#inputHeading {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 4px;
    padding-left: 4px;
}

#passwordInput {
    color: #ffffff;
    border: none;
    width: auto;
    font-size: 16px;
    box-shadow: none;
    background-color: #5C5C5C;
    padding: 5px;
    margin-top: 2px;
}


#loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#formContainer {
    width: calc(100% - 60px);
}

#formContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#registerLink {
    font-family: "inter", sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    bottom: 30px;
    left: 30%;
    transform: translateX(-20%);
}

.inputGroup {
    background-color: #5C5C5C;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 20px;
}

#loginHeader {
    font-family: "inter", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 52px;
    margin-top: 64px;
}

#loginButton {
    background-color: #929292;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    font-family: "inter", sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: calc(100% + 20px);
    cursor: pointer;
}

#confirmPasswordInput {
    color: #ffffff;
    border: none;
    width: auto;
    font-size: 16px;
    box-shadow: none;
    background-color: #5C5C5C;
    padding: 5px;
    margin-top: 2px;
}

.error {
    color: red;
    margin-top: 4px;
    margin-bottom: 4px;
}

#errorMessage {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 500;
}
